{% include "parts/header.html" %}

{% if has_credentials %}

<p>
  Chose the calendar you want to analyze:
</p>

<form action="/analyze" method="get">
  <select name="cal">
    {% for item in items|sort(attribute='summary') %}
    <option value="{{ item.id }}"{% if item.id == primary %} selected="selected"{% endif %}>{{ item.summary }}</option>
  {% endfor %}
  </select>
  <br/>
  <input type="submit"/>
</form>

<p>
  (You can revoke calendar access <a href="{{ revoke_url}}">here</a>)
</p>

{% else %}

<p>
  Please <a href="{{ auth_url }}">grant this application access</a> to
  read your calendar information.
</p>

{% endif %}

{% include "parts/footer.html" %}
