{% include "parts/header.html" %}

{% if has_credentials %}
<p>
  Thanks for granting us permission. Please <a href="/choose_cal">proceed to the main
  application</a>.
</p>
{% else %}
<p>
  Please <a href="{{ url }}">grant</a> this application permission to access your
  Google Calendar.
</p>
{% endif %}
<p>
  You can always <a href="https://www.google.com/accounts/b/0/IssuedAuthSubTokens">revoke</a> permission at any time.
</p>

<p>
  <a href="{{ logout_url }}">Logout</a>
</p>

{% include "parts/footer.html" %}
