<!-- Content End -->
    </div>
    <!-- Google Analytics tracking -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1223636-15']);
      _gaq.push(['_setDomainName', '.chartbeat.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'http://google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- Chartbeat tracking -->
    <script type="text/javascript">
      var _sf_async_config={ uid: 1,
                             sections: 'labs,analyzecal',
                             sessionLength: 1440,
                             pingServer: 'pdev.chartbeat.net',
                             domain: 'chartbeat.com' };

      (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
        "js/chartbeat.js");
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>
  </body>
</html>
